########################################################
####  ParFlow ESMX Test Application Configuration  #####
########################################################

logKindFlag:            ESMF_LOGKIND_MULTI
globalResourceControl:  .true.

ESMX_log_flush:        .true.
ESMX_field_dictionary: fd.yaml

ESMX_component_list:   LND GWR
ESMX_attributes::
  Verbosity = high
::

LND_model:            ESMX_Data
LND_petlist:          0 0
LND_attributes::
  Verbosity = high
  Diagnostic = 0
  coordSys = ESMF_COORDSYS_SPH_DEG
  minx = -98.426653
  maxx = -97.718663
  miny = 34.739932
  maxy = 35.031552
::

# "field" "dimensions" "min_value" "max_value"
LND_import_fields::
  "soil_moisture_fraction_layer_1          " "2" "0" "1"
  "soil_moisture_fraction_layer_2          " "2" "0" "1"
  "soil_moisture_fraction_layer_3          " "2" "0" "1"
  "soil_moisture_fraction_layer_4          " "2" "0" "1"
  "liquid_fraction_of_soil_moisture_layer_1" "2" "0" "1"
  "liquid_fraction_of_soil_moisture_layer_2" "2" "0" "1"
  "liquid_fraction_of_soil_moisture_layer_3" "2" "0" "1"
  "liquid_fraction_of_soil_moisture_layer_4" "2" "0" "1"
  "ground_water_storage                    " "2" "0" "999999"
::

# "field" "dimensions" "fill_value"
LND_export_fields::
  "precip_drip             " "2" "0.000024"
  "bare_soil_evaporation   " "2" "0.000012"
  "total_water_flux_layer_1" "2" "-0.000024000009596"
  "total_water_flux_layer_2" "2" "-0.000000000004798"
  "total_water_flux_layer_3" "2" "-0.000000000004798"
  "total_water_flux_layer_4" "2" "-0.000000000004798"
::

GWR_model:            ParFlow
GWR_petlist:          0 0
GWR_attributes::
  Verbosity = high
  Diagnostic = 0
  realize_all_import = false
  realize_all_export = false
  prep_filename = "Little_Washita.py"
  filename = "LW.pfidb"
  initialize_import = FLD_INIT_FILLV
  initialize_export = FLD_INIT_ZERO
  check_import = FLD_CHECK_NEXTT
  coord_type = GRD_COORD_CLMVEGTF
  coord_filename = "drv_vegm.alluv.dat"
  output_directory = "./HYD_CAP_OUTPUT"
::

startTime:  2010-06-01T00:00:00
stopTime:   2010-06-01T03:00:00

runSeq::
  @3600
    LND
    LND -> GWR :remapMethod=bilinear
    GWR
    GWR -> LND :remapMethod=bilinear:srcMaskValues=0
  @
::
